html {
    font-family:'Montserrat', sans-serif;
}

body {
    margin: 1;
    background:linear-gradient(to bottom right, #3498db, #9b59b6);
    text-align: center;
}

header {
    background-color: #a295ee;
    color: #2e2831;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}
.container {        
    width: 600px;
    margin: 1 auto;
    background-color: #a8b0da;
    background-image: hsla(282, 39%, 81%, 0.765);

}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #a8b0da;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer; 
}

section a {
    color: #7aaeae;
    text-decoration: none;
    background-image: hsla(282, 39%, 81%, 0.765);

}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: left;
}
footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: rgb(199, 177, 228);
    text-decoration-color: none;
}

footer a:hover {
    color: cornflowerblue;
}